<% add_decidim_page_title(t("calendar.index.title", scope: "decidim")) %>

<%= render "calendar_css" %>

<%= participatory_space_wrapper do %>
  <div class="row columns">
    <div class="calendar-filters button-group">
      <% available_events.each do |_key,item| %>
        <button class="button tiny cal-filter <%= item[:id] %>" id="<%= item[:id] %>"><%= I18n.t(item[:id], scope: "decidim.calendar.index.filters") %></button>
      <% end %>
    </div>
    <%= content_tag :div, "", id: "calendar", data: {
        locale: I18n.locale,
        events: render_events(@events),
        views: Decidim::Calendar.calendar_options[:views],
        hour12: Decidim::Calendar.calendar_options[:hour12],
        firstDay: Decidim::Calendar.calendar_options[:firstDay],
        defaultView: Decidim::Calendar.calendar_options[:defaultView]
      } %>
  </div>
<% end %>

<%= stylesheet_pack_tag "decidim_calendar" %>
<%= javascript_pack_tag "decidim_calendar" %>
