<% add_decidim_page_title(t("calendar.index.title", scope: "decidim")) %>

<%= append_stylesheet_pack_tag "decidim_calendar" %>
<%= render "calendar_css" %>

<%= participatory_space_wrapper do %>
  <div class="row columns">
    <div class="calendar-filters button-group flex">
      <div class="flex-grow mt-6 md:mt-12 md:self-start">
        <% available_events.each do |_key,item| %>
          <button class="button button__sm button__transparent-secondary cal-filter <%= item[:id] %>" id="<%= item[:id] %>"><%= I18n.t(item[:id], scope: "decidim.calendar.index.filters") %></button>
        <% end %>
      </div>
      <div class="flex justify-end">
        <%= render partial: "decidim/meetings/calendar_modal", locals: { path:  calendar_ical_path } %>
      </div>
    </div>

    <%= content_tag :div, "", id: "calendar", data: {
        locale: I18n.locale,
        events: render_events(@events),
        views: Decidim::Calendar.calendar_options[:views],
        hour12: Decidim::Calendar.calendar_options[:hour12],
        firstday: Decidim::Calendar.calendar_options[:firstDay],
        defaultview: Decidim::Calendar.calendar_options[:defaultView],
        openinnewwindow: Decidim::Calendar.calendar_options[:openInNewWindow]
      } %>
  </div>
<% end %>

<%= append_javascript_pack_tag "decidim_calendar" %>
