<% provide :meta_title, t("calendar.index.title", scope: "decidim") %>
<%= participatory_space_wrapper do %>
  <div class="row columns">
    <div id="calendar"></div>
  </div>
<% end %>
<%= javascript_include_tag "decidim/calendar/calendar" %>
<%= stylesheet_link_tag "decidim/calendar/calendar" %>

 <script>
   const calendarEl = document.getElementById('calendar');
   const calendar = new FullCalendar.Calendar(calendarEl, {
     plugins: ["interaction", "timeGrid", "dayGrid"],
     defaultView: "dayGridMonth",
     locale: "es",
     header: {
       left: "prev,next today",
       center: "title",
       right: "dayGridMonth,dayGridWeek,dayGridDay"
     },
     eventTimeFormat: {
       hour: "2-digit",
       minute: "2-digit",
       hour12: true,
       omitZeroMinute: false
     },
     events: [
      <% @events.each do |e| %>
           <%= calendar_event(e).html_safe %>
           <%= "," unless e == @events.last %>
      <% end %>
     ]
   });
   $(function() {
     calendar.setOption('locale', "<%= I18n.locale %>");
     calendar.render();
   });
 </script>
