<div class="card">
  <div class="card-divider">
    <h2 class="card-title"><%= t(".title") %></h2>
  </div>
  <div class="card-section">
    <div class="row column">
      <%= form.translated :text_field, :title, autofocus: true %>
    </div>

    <div class="row column">
      <%= form.datetime_field :start_at %>
    </div>

    <div class="row column">
      <%= form.datetime_field :end_at %>
    </div>

    <div class="row column">
      <%= form.url_field :url %>
    </div>
  </div>
</div>
