<div class="form__wrapper">
  <div class="item_show__header">
    <h2 class="item_show__header-title"><%= t(".title") %></h2>
  </div>
  <div class="card pt-4">
    <div class="card-section">
      <div class="row column">
        <%= form.translated :text_field, :title, autofocus: true %>
      </div>
      <div class="row">
        <div class="columns xlarge-6">
          <%= form.datetime_field :start_at %>
        </div>

        <div class="columns xlarge-6">
          <%= form.datetime_field :end_at %>
        </div>
      </div>
      <div class="row column">
        <%= form.url_field :url %>
      </div>
    </div>
  </div>
</div>
