<div id="events" class="card">
  <div class="item_show__header">
    <h2 class="item_show__header-title">
      <div>
        <%= t(".title") %>
      </div>

      <div class="flex--cc flex-gap--1">
        <div id="js-other-actions-wrapper">
          <% if allowed_to? :create, :external_event %>
            <%= link_to t("actions.new_external_event", scope: "decidim.calendar.admin"),
              new_external_event_path, class: "button button__sm button__secondary new" %>
          <% end %>
        </div>
      </div>
    </h2>
  </div>
  <div class="card-section">
    <% if external_events.any? %>
      <div class="table-scroll">
        <table class="table-list">
          <thead>
            <tr>
              <th><%= t("models.external_events.fields.title", scope: "decidim.calendar.admin") %></th>
              <th><%= t("models.external_events.fields.start_at", scope:"decidim.calendar.admin") %></th>
              <th><%= t("models.external_events.fields.end_at", scope: "decidim.calendar.admin") %></th>
              <th><%= t("models.external_events.fields.url", scope: "decidim.calendar.admin") %></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% external_events.each do |event| %>
              <tr>
                <td>
                  <%= translated_attribute(event.title) %>
                </td>
                <td>
                  <%= l event.start_at, format: :long %>
                </td>
                <td>
                  <%= l event.end_at, format: :long %>
                </td>
                <td>
                  <%= event.url %>
                </td>
                <td class="table-list__actions">
                  <% if allowed_to? :update, :external_events, external_event: event %>
                    <%= icon_link_to "pencil-line", edit_external_event_path(event), t("actions.edit", scope: "decidim.admin"), class: "action-icon--new" %>
                  <% end %>
                  <% if allowed_to? :update, :external_events, external_event: event %>
                    <%= icon_link_to "delete-bin-line", external_event_path(event), t("actions.destroy", scope: "decidim.admin"), method: :delete, class: "action-icon--remove", data: { confirm: t("actions.confirm_destroy", scope: "decidim.admin") } %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% else %>
      <div class="text-center">
        <%= t ".no_records_html", new_set_link: new_external_event_path, button_name: t("actions.new_external_event", scope: "decidim.calendar.admin") %>
</div>
      </div>
    <% end %>
  </div>
</div>
